<template>
  <v-container fluid>
    <v-content class="text-xs-center">
      <v-flex class="display-1">Cadastro de Ocorrências</v-flex>

      <menu-home/>

      <ocorrencias-list/>
    </v-content>
  </v-container>
</template>

<script>
import MenuHome from "@/views/MenuHome";
import OcorrenciasList from "@/views/OcorrenciasList";
export default {
  components: {
    MenuHome,
    OcorrenciasList
  },
  data() {
    return {};
  }
};
</script>
<style>
.listheader {
  background-color: lightgray;
}
</style>

