<template>
  <v-container grid-list-md fluid>
    <v-layout row wrap></v-layout>
    <v-layout row class="text-xs-center">
      <v-flex xs3/>
      <v-flex xs6 class="grey lighten-4">
        <v-container style="position: relative;top: 13%;" class="text-xs-center">
          <v-card flat>
            <v-card-title primary-title>
              <h4>Login</h4>
            </v-card-title>
            <v-form>
              <v-text-field prepend-icon="person" name="Username" v-model="usuario" label="Usuário"></v-text-field>
              <v-text-field prepend-icon="lock" name="Password" label="Senha" type="password"></v-text-field>
              <v-card-actions>
                <v-btn @click="login" primary large block>Login</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex xs3/>
    </v-layout>
  </v-container>
</template>

<script>
import { salvarOcorrencia } from "@/firestore";
import { formattedTime } from "@/utils";
import { store } from "@/store";
import { usuario } from "@/main";
export default {
  name: "ocorrenciamariadapenha",
  mounted() {
    this.$store.dispatch("setUsuario", null);
  },
  data() {
    return {
      background: require("@/assets/fundo.jpg"),
      usuario: "",

      mulheres: [
        {
          mpn: 298398239823,
          name: "Ana da Silva",
          dataNascimento: "10/04/1980",
          endereco: "Rua Prefeito Ricado Jaffet da Costa",
          numero: "234",
          bairro: "Vila Natal",
          referencia: "próximo da igreja santa teresa",
          cpf: "01",
          telefone: "0479556677",
          complemento: "Bloco 1"
        }
      ]
    };
  },
  methods: {
    login() {
      if (this.usuario === "roberto") {
        this.$store.dispatch("setUsuario", { name: "Roberto" });
        this.$router.push({ name: "home" });
      } else if (this.usuario === "gomes") {
        this.$store.dispatch("setUsuario", { name: "Capitão Gomes" });
        this.$router.push({
          name: "ocorrenciasdepartamento",
          params: { departamento: "oco-2" }
        });
      } else {
        alert("Dados inválidos");
      }
    },
    selectColor(color) {
      this.selectedUrgencia = color;
    },
    buildSelectedColor(color) {
      var defaultClasses = ["ma-2", "circle", "handicon", `f${color}`];
      if (this.selectedUrgencia === color) {
        defaultClasses.push(`b${color}`);
      }
      return defaultClasses.join(" ");
    },
    fechaMapa() {
      this.dialog = false;
      this.selectedVTR = {
        numero: "GM-1002",
        person: [
          {
            name: "Policial 1"
          },
          {
            name: "Policial 2"
          }
        ]
      };
    },
    selecionarVTR() {
      this.dialog = true;
    },
    voltar() {
      this.$router.go(-1);
    },
    buscar() {
      this.foundPerson = this.mulheres.find(
        mulher =>
          mulher.cpf === this.search ||
          mulher.name.toLowerCase() == this.search.toLowerCase()
      );

      this.errorMessage = this.foundPerson ? " " : "Não encontrado";
    },
    cadastrar() {
      if (!this.foundPerson) {
        alert("Selecione uma pessoa");
        return;
      }
      if (!this.selectedVTR) {
        alert("Selecione uma VTR");
        return;
      }
      if (this.selectedUrgencia === null) {
        alert("Selecione uma classificação de urgência");
        return;
      }
      var ocorrencia = {};
      ocorrencia["person"] = this.foundPerson;
      ocorrencia["vtr"] = this.selectedVTR;
      ocorrencia["protocolo"] = this.protocolo;
      ocorrencia["data"] = new Date();
      ocorrencia["departamento"] = "Patrulha da Mulher";
      ocorrencia["status"] = "ABERTO";
      ocorrencia["departamento"] = "oco-1";
      ocorrencia["urgencia"] = this.selectedUrgencia;
      salvarOcorrencia(ocorrencia);
      this.voltar();
    }
  },
  computed: {
    vtr: {
      get() {
        if (!this.selectedVTR) return "";
        var names = [];

        names.push(`(Viatura: ${this.selectedVTR.numero})`);
        return names.join(", ");
      }
    },
    currentDate: {
      get() {
        var d = new Date();

        var curr_date = d.getDate();

        var curr_month = d.getMonth();

        var curr_year = d.getFullYear();

        return curr_date + "/" + curr_month + "/" + curr_year;
      }
    },
    currentTime: {
      get() {
        return formattedTime(new Date());
      }
    },
    protocolo: {
      get() {
        return this.$route.params.protocolo.toString();
      }
    }
  }
};
</script>
<style>
</style>
