<template>
  <v-container fluid>
    <v-container just class="text-xs-center" grid-list-xl>
      <v-layout justify-center row wrap>
        <v-flex
          @click="cadastrar(menu.path)"
          class="handicon pa-4 ma-2 title text-xs-center"
          xs2
          v-for="menu of menus"
          :key="menu.title"
        >
          <v-img align :src="menu.icon"></v-img>
          <v-card-text>{{menu.title}}</v-card-text>
        </v-flex>
      </v-layout>
    </v-container>
    <v-divider/>
  </v-container>
</template>

<script>
export default {
  methods: {
    cadastrarOcorrMulher() {
      // ;
    },
    cadastrar(path) {
      this.$router.push({
        name: path,
        params: { protocolo: new Date().getTime() }
      });
    }
  },
  data: () => ({
    menus: [
      {
        title: "Maria da Penha",
        path: "ocorrenciamulher",
        icon: require("@/assets/icones-01.png")
      },
      {
        title: "Crime Ambiental",
        path: "ocorrenciaambiental",
        icon: require("@/assets/icones-09.png")
      },
      {
        title: "Depredação do Patrimônio",
        path: "ocorrenciadepredacao",
        icon: require("@/assets/icones-03.png")
      },
      {
        title: "Lei do Silêncio",
        path: "ocorrenciasilencio",
        icon: require("@/assets/icones-08.png")
      },
      {
        title: "Outras Ocorrências",
        path: "outrasocorrencias",
        icon: require("@/assets/icones-02.png")
      }
    ]
  })
};
</script>

<style>
.a1 {
  background-color: red;
}
.a2 {
  background-color: blue;
}
.circleBase {
  border-radius: 50%;
}
.opcao {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  min-height: 150px;
  min-width: 150px;
  background: gray;
}
</style>
