<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs1>
        <v-btn v-if="false" @click="voltar()" outline iconified>
          <v-icon>arrow_back</v-icon>VOLTAR
        </v-btn>
      </v-flex>
      <v-flex xs12>
        <v-card-text class="display-1">{{titulo}}</v-card-text>
      </v-flex>
      <v-flex class="mb-4" xs12>
        <v-divider/>
      </v-flex>
      <v-flex v-for="ocorrencia of filteredOcorrencias" :key="ocorrencia.protocolo" xs4>
        <v-card class="ma-1">
          <v-layout row wrap>
            <v-flex xs-11>
              <v-layout wrap column class="pa-3">
                <v-flex xs12 class="text-xs-left"></v-flex>
                <v-layout>
                  <v-flex xs12 class="text-xs-left">
                    <span class="bold">PROTOCOLO:</span>
                    {{ocorrencia.protocolo}}
                  </v-flex>
                </v-layout>
                <v-layout wrap row>
                  <v-flex 12 class="text-xs-left">
                    <span class="bold">DATA:</span>
                    03/02/2019
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex xs12 class="text-xs-left">
                    <span class="bold">HORA:</span>
                    06:41:40
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex xs12 class="text-xs-left">
                    <span class="bold">STATUS:</span>
                    {{ocorrencia.status.toUpperCase()}}
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-flex>
            <v-flex xs1 :class="buildSmallMenu(ocorrencia)">
              <v-layout
                column
                fill-height
                class="white--text display-2 text-xs-center justify-center align-center"
              >+</v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  <!-- 
    
  -->
  <!--  -->
</template>

<script>
import { getDepartamentoFromId } from "@/utils";

import { ocorrenciasCollection } from "@/firestore";
import { formattedDate, formattedTime } from "@/utils";
export default {
  mounted() {
    this.ocorrenciasListener = ocorrenciasCollection.onSnapshot(collection => {
      this.ocorrencias = [];
      collection.forEach(doc => {
        this.ocorrencias.push(doc.data());
      });
    });
  },
  beforeDestroy() {
    if (this.ocorrenciasListener) {
      this.ocorrenciasListener();
    }
  },
  computed: {
    titulo: {
      get() {
        return getDepartamentoFromId(this.$route.params.departamento);
      }
    },
    filteredOcorrencias: {
      get() {
        return this.ocorrencias.filter(
          oco => oco.departamento === this.$route.params.departamento
        );
      }
    }
  },
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    brDate(date) {
      return;
    },
    buildSmallMenu(ocorrencia) {
      if (ocorrencia && ocorrencia.urgencia) {
        return `smallmenu b${ocorrencia.urgencia}`;
      }
      return "smallmenu b4";
    },
    getDepartamento() {
      return getDepartamentoFromId(this.$route.params.departamento);
    },
    cadastrarOcorrMulher() {
      // ;
    },
    cadastrar(path) {
      this.$router.push({
        name: path,
        params: { protocolo: new Date().getTime() }
      });
    }
  },
  data: () => ({
    ocorrencias: [],
    ocorrenciasListener: null,
    menus: [
      {
        title: "Maria da Penha",
        path: "ocorrenciamulher",
        icon: require("@/assets/icones-01.png")
      },
      {
        title: "Crime Ambiental",
        path: "ocorrenciaambiental",
        icon: require("@/assets/icones-09.png")
      },
      {
        title: "Depredação",
        path: "ocorrenciamulher",
        icon: require("@/assets/icones-03.png")
      },
      {
        title: "Lei do Silêncio",
        path: "ocorrenciamulher",
        icon: require("@/assets/icones-08.png")
      },
      {
        title: "Mais",
        path: "ocorrenciamulher",
        icon: require("@/assets/icones-02.png")
      }
    ]
  })
};
</script>

<style>
.smallmenu {
  width: 50px;
}
.gray {
  background-color: lightgray;
}
.circleBase {
  border-radius: 50%;
}
.opcao {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  min-height: 150px;
  min-width: 150px;
  background: gray;
}
</style>
