<template>
  <v-container grid-list-md fluid>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center display-1">Cadastro de Ocorrência</v-flex>
      <v-flex xs12>
        <v-layout align-center row class="text-xs-center mt-4">
          <v-flex xs1>
            <v-btn @click="voltar()" outline iconified>
              <v-icon>arrow_back</v-icon>VOLTAR
            </v-btn>
          </v-flex>
          <v-flex xs4>
            <v-card-text class="bold">{{getTitulo}}</v-card-text>
          </v-flex>
          <v-flex xs4>
            <span class="bold">PROTOCOLO:</span>
            {{protocolo}}
          </v-flex>
          <v-flex xs3>
            <span class="bold">DATA:</span>
            {{currentDate}}
            <span class="ml-3 bold">HORA:</span>
            {{currentTime}}
          </v-flex>
        </v-layout>
        <v-divider/>

        <v-divider/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { salvarOcorrencia } from "@/firestore";
import { formattedTime } from "@/utils";

export default {
  name: "ocorrenciamariadapenha",
  data() {
    return {
      mapa: require("@/assets/mapa_ocorrencia.jpg"),
      dialog: false,
      foundPerson: null,
      selectedVTR: null,
      samePlace: true,
      errorMessage: " ",
      search: "",
      selectedUrgencia: null,
      mulheres: [
        {
          mpn: 298398239823,
          name: "Ana da Silva",
          dataNascimento: "10/04/1980",
          endereco: "Rua Prefeito Ricado Jaffet da Costa",
          numero: "234",
          bairro: "Vila Natal",
          referencia: "próximo da igreja santa teresa",
          cpf: "01",
          telefone: "0479556677",
          complemento: "Bloco 1"
        }
      ]
    };
  },
  methods: {
    selectColor(color) {
      this.selectedUrgencia = color;
    },
    buildSelectedColor(color) {
      var defaultClasses = ["ma-2", "circle", "handicon", `f${color}`];
      if (this.selectedUrgencia === color) {
        defaultClasses.push(`b${color}`);
      }
      return defaultClasses.join(" ");
    },
    fechaMapa() {
      this.dialog = false;
      this.selectedVTR = {
        numero: "GM-1002",
        person: [
          {
            name: "Policial 1"
          },
          {
            name: "Policial 2"
          }
        ]
      };
    },
    selecionarVTR() {
      this.dialog = true;
    },
    voltar() {
      this.$router.go(-1);
    },
    buscar() {
      this.foundPerson = this.mulheres.find(
        mulher =>
          mulher.cpf === this.search ||
          mulher.name.toLowerCase() == this.search.toLowerCase()
      );

      this.errorMessage = this.foundPerson ? " " : "Não encontrado";
    },
    cadastrar() {
      if (!this.foundPerson) {
        alert("Selecione uma pessoa");
        return;
      }
      if (!this.selectedVTR) {
        alert("Selecione uma VTR");
        return;
      }
      if (this.selectedUrgencia === null) {
        alert("Selecione uma classificação de urgência");
        return;
      }
      var ocorrencia = {};
      ocorrencia["person"] = this.foundPerson;
      ocorrencia["vtr"] = this.selectedVTR;
      ocorrencia["protocolo"] = this.protocolo;
      ocorrencia["data"] = new Date();
      ocorrencia["departamento"] = "Patrulha da Mulher";
      ocorrencia["status"] = "ABERTO";
      ocorrencia["departamento"] = "oco-1";
      ocorrencia["urgencia"] = this.selectedUrgencia;
      salvarOcorrencia(ocorrencia);
      this.voltar();
    }
  },
  computed: {
    vtr: {
      get() {
        if (!this.selectedVTR) return "";
        var names = [];

        names.push(`(Viatura: ${this.selectedVTR.numero})`);
        return names.join(", ");
      }
    },
    currentDate: {
      get() {
        var d = new Date();

        var curr_date = d.getDate();

        var curr_month = d.getMonth();

        var curr_year = d.getFullYear();

        return curr_date + "/" + curr_month + "/" + curr_year;
      }
    },
    currentTime: {
      get() {
        return formattedTime(new Date());
      }
    },
    protocolo: {
      get() {
        return this.$route.params.protocolo.toString();
      }
    }
  }
};
</script>
<style>
</style>
