<template>
  <v-container fluid>
    <v-card-text class="title">Relatório de Ocorrências</v-card-text>
    <v-container fluid grid-list>
      <v-flex>
        <v-layout class="listheader" row>
          <v-flex xs1></v-flex>
          <v-flex xs2>PROTOCOLO</v-flex>
          <v-flex xs3>DEPARTAMENTO</v-flex>
          <v-flex xs2>DATA</v-flex>
          <v-flex xs2>HORÁRIO</v-flex>
          <v-flex xs3>STATUS</v-flex>
          <v-flex xs3>DETALHES</v-flex>
        </v-layout>
      </v-flex>
      <v-layout
        class="mt-2"
        align-center
        v-for="ocorrencia of ocorrencias"
        :key="ocorrencia.protocolo"
        row
      >
        <v-flex xs1>
          <v-flex :class="getUrgencia(ocorrencia.urgencia)">&nbsp;</v-flex>
        </v-flex>
        <v-flex xs2>{{ocorrencia.protocolo}}</v-flex>
        <v-flex
          class="handicon"
          @click="abrir(ocorrencia.departamento)"
          xs3
        >{{departamento(ocorrencia.departamento)}}</v-flex>
        <v-flex xs2>{{brDate(ocorrencia.data)}}</v-flex>
        <v-flex xs2>{{brTime(ocorrencia.data)}}</v-flex>
        <v-flex xs3>{{ocorrencia.status.toUpperCase()}}</v-flex>
        <v-flex xs3>
          <v-btn @click.prevent="selectOcorrencia(ocorrencia)" small iconified>
            <v-icon>visibility</v-icon>Ver Ocorrência
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <dialog-details v-bind:ocorrencia="this.ocorrenciaSelecionada"/>
  </v-container>
</template>

<script>
import { ocorrenciasCollection } from "@/firestore";
import { formattedDate, formattedTime, getDepartamentoFromId } from "@/utils";
import DialogDetails from "@/components/DialogDetails";
import { bus } from "../main";
export default {
  components: {
    DialogDetails
  },
  data: () => ({
    ocorrencias: {},
    ocorrenciaSelecionada: null,
    items: [
      {
        ocorrenciasListener: null,
        protocolo: "12228878.9873-19",
        departamento: "PATRULHA MARIA DA PENHA",
        data: "03/02/2019",
        horario: "22:12",
        status: "EM ABERTO"
      }
    ]
  }),
  methods: {
    selectOcorrencia(ocorrencia) {
      this.ocorrenciaSelecionada = ocorrencia;
      bus.$emit("dialogOcorrencia", true);
    },
    getUrgencia(color) {
      return `b${color}`;
    },
    abrir(id) {
      // ocorrenciasdepartamento
      this.$router.push({
        name: "ocorrenciasdepartamento",
        params: { departamento: id }
      });
      console.log(id);
    },

    departamento(id) {
      return getDepartamentoFromId(id);
    },
    brDate(date) {
      if (!date) return "";

      return formattedDate(date.seconds);
    },
    brTime(date) {
      if (!date) return "";

      return formattedTime(date.seconds);
    }
  },
  beforeDestroy() {
    if (this.ocorrenciasListener) {
      this.ocorrenciasListener();
    }
  },
  mounted() {
    this.ocorrenciasListener = ocorrenciasCollection.onSnapshot(collection => {
      this.ocorrencias = [];
      collection.forEach(doc => {
        this.ocorrencias.push(doc.data());
      });
    });
  }
};
</script>

<style>
.a1 {
  background-color: red;
}
.a2 {
  background-color: blue;
}
.circleBase {
  border-radius: 50%;
}
.opcao {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  min-height: 150px;
  min-width: 150px;
  background: gray;
}
</style>
