<template>
  <v-container grid-list-md fluid>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center display-1">Cadastro de Ocorrência</v-flex>
      <v-flex xs12>
        <v-layout align-center row class="text-xs-center mt-4">
          <v-flex xs1>
            <v-btn @click="voltar()" outline iconified>
              <v-icon>arrow_back</v-icon>VOLTAR
            </v-btn>
          </v-flex>
          <v-flex xs4>
            <v-card-text class="bold">PATRULHA DA MARIA DA PENHA</v-card-text>
          </v-flex>
          <v-flex xs4>
            <span class="bold">PROTOCOLO:</span>
            {{protocolo}}
          </v-flex>
          <v-flex xs3>
            <span class="bold">DATA:</span>
            {{currentDate}}
            <span class="ml-3 bold">HORA:</span>
            {{currentTime}}
          </v-flex>
        </v-layout>
        <v-divider/>

        <v-layout align-baseline row class="text-xs-center mt-4">
          <v-flex class="text-xs-left">
            <v-layout>
              <span>BUSCAR POR NOME/CPF</span>
            </v-layout>
          </v-flex>
          <v-flex class="text-xs-left" xs8>
            <v-form v-on:submit.prevent="buscar">
              <v-text-field v-model="search" class="my-input" single-line outline></v-text-field>
            </v-form>
          </v-flex>
          <v-flex class="text-xs-right" xs2>
            <v-btn @click="buscar">buscar</v-btn>
          </v-flex>
        </v-layout>

        <v-layout align-baseline row class="text-xs-center mt-4">
          <v-flex xs12>
            <v-btn disabled class="error--text" flat v-if="this.errorMessage">{{this.errorMessage}}</v-btn>
          </v-flex>
        </v-layout>
        <v-divider/>

        <v-layout row class="text-xs-center mt-4">
          <v-flex class="text-xs-left" xs8>
            <span class="bold text-xs-left">M. P. Nº:</span>
            &nbsp;
            <span v-if="foundPerson">{{foundPerson.mpn}}</span>
          </v-flex>
          <v-flex class="text-xs-right" xs4>
            <v-btn v-if="!this.foundPerson" disabled>histórico</v-btn>
            <v-btn v-if="this.foundPerson">histórico (7)</v-btn>
          </v-flex>
        </v-layout>

        <v-layout row class="text-xs-center mt-4">
          <v-flex class="text-xs-left" xs4>
            <span class="bold">NOME DA SOLICITANTE:</span>
            &nbsp;
            <span v-if="foundPerson">{{foundPerson.name}}</span>
          </v-flex>
          <v-flex class="text-xs-left" xs4>
            <span class="bold">DATA DE NASCIMENTO:</span>
            &nbsp;
            <span v-if="foundPerson">{{foundPerson.dataNascimento}}</span>
          </v-flex>
        </v-layout>
        <v-divider/>

        <v-layout row class="text-xs-center mt-4">
          <v-flex class="text-xs-left" xs4>
            <span class="bold">ENDEREÇO:</span>
            &nbsp;
            <span v-if="foundPerson">{{foundPerson.endereco}}</span>
          </v-flex>
          <v-flex class="text-xs-left" xs4>
            <span class="bold">NÚMERO:</span>
            &nbsp;
            <span v-if="foundPerson">{{foundPerson.numero}}</span>
          </v-flex>

          <v-flex class="text-xs-left" xs4>
            <span class="bold">COMPLEMENTO:</span>
            &nbsp;
            <span v-if="foundPerson">{{foundPerson.complemento}}</span>
          </v-flex>
        </v-layout>
        <v-divider/>

        <v-layout row class="text-xs-center mt-4">
          <v-flex class="text-xs-left" xs4>
            <span class="bold">BAIRRO:</span>
            &nbsp;
            <span v-if="foundPerson">{{foundPerson.bairro}}</span>
          </v-flex>
          <v-flex class="text-xs-left" xs8>
            <span class="bold">REFERÊNCIA:</span>
            &nbsp;
            <span v-if="foundPerson">{{foundPerson.referencia}}</span>
          </v-flex>
        </v-layout>
        <v-divider/>

        <v-layout class="ml-2 mt-4">
          <v-flex xs12 class="text-xs-left">
            <v-switch
              align-center
              justify-center
              class="text-xs-center title"
              :label="`Usar endereço cadastrado:`"
              v-model="samePlace"
            ></v-switch>
          </v-flex>
        </v-layout>
        <v-divider/>
        <v-content v-if="!samePlace">
          <v-flex class="text-xs-center" xs12></v-flex>

          <v-layout row class="text-xs-center mt-4">
            <v-flex class="text-xs-left" xs1>
              <v-card-text>CEP</v-card-text>
            </v-flex>
            <v-flex class="text-xs-left" xs2>
              <v-text-field class="my-input" single-line outline></v-text-field>
            </v-flex>
            <v-flex class="text-xs-left" xs1>
              <v-card-text>ENDEREÇO</v-card-text>
            </v-flex>
            <v-flex class="text-xs-left" xs8>
              <v-text-field class="my-input" single-line outline></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row class="text-xs-center mt-4">
            <v-flex class="text-xs-left" xs1>
              <v-card-text>NÚMERO</v-card-text>
            </v-flex>
            <v-flex class="text-xs-left" xs2>
              <v-text-field class="my-input" single-line outline></v-text-field>
            </v-flex>
            <v-flex class="text-xs-left" xs1>
              <v-card-text>COMPL.</v-card-text>
            </v-flex>
            <v-flex class="text-xs-left" xs2>
              <v-text-field class="my-input" single-line outline></v-text-field>
            </v-flex>

            <v-flex class="text-xs-left" xs1>
              <v-card-text>BAIRRO</v-card-text>
            </v-flex>
            <v-flex class="text-xs-left" xs5>
              <v-text-field class="my-input" single-line outline></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row class="text-xs-center mt-4">
            <v-flex class="text-xs-left" xs1>
              <v-card-text>REFERÊNCIA</v-card-text>
            </v-flex>
            <v-flex class="text-xs-left" xs11>
              <v-text-field class="my-input" single-line outline></v-text-field>
            </v-flex>
          </v-layout>
          <v-divider/>
        </v-content>

        <v-content>
          <v-layout row class="text-xs-center mt-4">
            <v-flex class="text-xs-left" xs2>
              <v-btn @click="selecionarVTR" iconified>
                <!-- href="https://www.google.com/maps/d/edit?mid=126RAO0BobtK-4xFHrKCJURx3wUMcS_K0&ll=-23.518049502395186%2C-46.18522410000003&z=14" -->
                <!-- target="_blank" -->
                <v-icon>directions_car</v-icon>SELECIONAR VTR
              </v-btn>
            </v-flex>
            <v-flex class="text-xs-left title" xs4>
              <v-card-text class="my-input" single-line outline>{{vtr}}</v-card-text>
            </v-flex>
          </v-layout>
        </v-content>

        <v-content>
          <v-card-text class="text-xs-center title">Classificação de Urgência</v-card-text>
          <v-flex class="ml-5">
            <v-layout class="text-xs-center ml-5" justify-center align-center row>
              <v-flex xs2>
                <div class @click="selectColor(0)" v-bind:class="buildSelectedColor(0)"></div>
              </v-flex>
              <v-flex xs2>
                <div @click="selectColor(1)" v-bind:class="buildSelectedColor(1)"></div>
              </v-flex>
              <v-flex xs2>
                <div @click="selectColor(2)" v-bind:class="buildSelectedColor(2)"></div>
              </v-flex>
              <v-flex xs2>
                <div @click="selectColor(3)" v-bind:class="buildSelectedColor(3)"></div>
              </v-flex>
              <v-flex xs2>
                <div @click="selectColor(4)" v-bind:class="buildSelectedColor(4)"></div>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-content>

        <v-layout row class="text-xs-center mt-4">
          <v-flex class="text-xs-right" xs12>
            <v-btn @click="cadastrar">CADASTRAR</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog" width="1024">
      <v-card>
        <v-img @click="fechaMapa()" min-width="50" :src="mapa"></v-img>

        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { salvarOcorrencia } from "@/firestore";
import { formattedTime } from "@/utils";

export default {
  name: "ocorrenciamariadapenha",
  data() {
    return {
      mapa: require("@/assets/mapa_ocorrencia.jpg"),
      dialog: false,
      foundPerson: null,
      selectedVTR: null,
      samePlace: true,
      errorMessage: " ",
      search: "",
      selectedUrgencia: null,
      mulheres: [
        {
          mpn: 298398239823,
          name: "Ana da Silva",
          dataNascimento: "10/04/1980",
          endereco: "Rua Prefeito Ricado Jaffet da Costa",
          numero: "234",
          bairro: "Vila Natal",
          referencia: "próximo da igreja santa teresa",
          cpf: "01",
          telefone: "0479556677",
          complemento: "Bloco 1"
        }
      ]
    };
  },
  methods: {
    selectColor(color) {
      this.selectedUrgencia = color;
    },
    buildSelectedColor(color) {
      var defaultClasses = ["ma-2", "circle", "handicon", `f${color}`];
      if (this.selectedUrgencia === color) {
        defaultClasses.push(`b${color}`);
      }
      return defaultClasses.join(" ");
    },
    fechaMapa() {
      this.dialog = false;
      this.selectedVTR = {
        numero: "GM-1002",
        person: [
          {
            name: "Policial 1"
          },
          {
            name: "Policial 2"
          }
        ]
      };
    },
    selecionarVTR() {
      this.dialog = true;
    },
    voltar() {
      this.$router.go(-1);
    },
    buscar() {
      this.foundPerson = this.mulheres.find(
        mulher =>
          mulher.cpf === this.search ||
          mulher.name.toLowerCase() == this.search.toLowerCase()
      );

      this.errorMessage = this.foundPerson ? " " : "Não encontrado";
    },
    cadastrar() {
      if (!this.foundPerson) {
        alert("Selecione uma pessoa");
        return;
      }
      if (!this.selectedVTR) {
        alert("Selecione uma VTR");
        return;
      }
      if (this.selectedUrgencia === null) {
        alert("Selecione uma classificação de urgência");
        return;
      }
      var ocorrencia = {};
      ocorrencia["person"] = this.foundPerson;
      ocorrencia["vtr"] = this.selectedVTR;
      ocorrencia["protocolo"] = this.protocolo;
      ocorrencia["data"] = new Date();
      ocorrencia["departamento"] = "Patrulha da Mulher";
      ocorrencia["status"] = "ABERTO";
      ocorrencia["departamento"] = "oco-1";
      ocorrencia["urgencia"] = this.selectedUrgencia;
      salvarOcorrencia(ocorrencia);
      this.voltar();
    }
  },
  computed: {
    vtr: {
      get() {
        if (!this.selectedVTR) return "";
        var names = [];

        names.push(`(Viatura: ${this.selectedVTR.numero})`);
        return names.join(", ");
      }
    },
    currentDate: {
      get() {
        var d = new Date();

        var curr_date = d.getDate();

        var curr_month = d.getMonth();

        var curr_year = d.getFullYear();

        return curr_date + "/" + curr_month + "/" + curr_year;
      }
    },
    currentTime: {
      get() {
        return formattedTime(new Date());
      }
    },
    protocolo: {
      get() {
        return this.$route.params.protocolo.toString();
      }
    }
  }
};
</script>
<style>
</style>
