<template>
  <v-container fluid>
    <v-content>
      <v-flex xs12 class="text-xs-center">
        <v-layout row>
          <v-flex>
            <v-layout column class="border">
              <v-card-text>Sem Categorias</v-card-text>
              <v-card class="pa-3 ma-2" v-for="ocorrencia in ocorrencias" :key="ocorrencia.id">
                <v-card-text class="pa-3">{{ocorrencia.titulo}}</v-card-text>
                <v-flex class="text-xs-left">Origem: {{ocorrencia.origem}}</v-flex>
                <v-flex class="text-xs-right">
                  <v-btn small color="info">detalhes</v-btn>
                </v-flex>
              </v-card>
            </v-layout>
          </v-flex>
          <v-flex>
            <v-layout column>
              <v-card-text>Maria da Penha</v-card-text>
            </v-layout>
          </v-flex>
          <v-flex>
            <v-card-text>Ambiental</v-card-text>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-content>
  </v-container>
</template>

<script>
// @ is an alias to /src

export default {
  name: "cadastro",
  data() {
    return {
      ocorrencias: [
        {
          id: "alskjlasjk",
          titulo: "Titulo",
          origem: "GCM",
          categorias: []
        },
        {
          id: "alskjlasjk",
          titulo: "Titulo",
          origem: "GCM",
          categorias: []
        }
      ]
    };
  }
};
</script>
<style>
.border {
  border-style: dotted;
}
.red {
  background-color: red;
}
</style>
