<template>
  <v-dialog v-model="dialog">
    <v-card>
      <v-card-title
        class="headline grey lighten-2"
        primary-title
      >Detalhes da Ocorrência: {{ocorrencia.protocolo}}</v-card-title>
      <v-divider></v-divider>
      <v-layout class="ma-2" wrap row>
        <v-flex xs12>
          <span class="bold">MPN:</span>
          {{this.ocorrencia.person.mpn}}
        </v-flex>

        <v-flex xs12>
          <span class="bold">Nome Solicitante:</span>
          {{this.ocorrencia.person.mpn}}
        </v-flex>
      </v-layout>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click="dialog = false">I accept</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { bus } from "../main";

export default {
  created() {
    var vm = this;
    bus.$on("dialogOcorrencia", function(value) {
      vm.dialog = value;
    });
  },
  props: ["ocorrencia"],
  computed: {},
  methods: {
    cadastrar(path) {
      this.$router.push({
        name: path,
        params: { protocolo: new Date().getTime() }
      });
    }
  },

  data: () => ({
    dialog: false
  })
};
</script>

<style>
.a1 {
  background-color: red;
}
.a2 {
  background-color: blue;
}
.circleBase {
  border-radius: 50%;
}
.opcao {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  min-height: 150px;
  min-width: 150px;
  background: gray;
}
</style>
