<template>
  <v-footer v-if="this.logado" app>
    <v-content class="bgfooter text-xs-left" fluid grid-list-xl>
      <v-layout row wrap>
        <v-flex x10>
          <v-card-text class="white--text">
            <span class="bold">Operador:</span>
            {{logado.name}}
          </v-card-text>
        </v-flex>

        <v-flex x1>
          <v-card-text class="text-xs-right white--text">
            <span class="bold">Data:</span>
            03/02/2019
            <span class="ml-3 bold">Hora:</span>
            03:40
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-content>
  </v-footer>
</template>

<script>
import { usuario } from "@/main";
export default {
  computed: {
    logado: {
      get() {
        return this.$store.getters.usuario;
      }
    }
  },
  data: () => ({
    logopmmc: require("@/assets/logo_pmmc.png"),
    logosigon: require("@/assets/logo_sigon.png")
  })
};
</script>

<style>
.white {
  color: #fff;
}
.bgfooter {
  background-color: #717171;
}
.a2 {
  background-color: blue;
}
</style>
