<template>
  <v-container fluid class="text-xs-center" grid-list>
    <v-responsive>
      <v-layout row justify-center align-center>
        <v-flex xs3>
          <v-img min-width="100" :src="logopmmc"></v-img>
        </v-flex>
        <v-flex xs6/>
        <v-flex xs2>
          <v-img min-width="50" :src="logosigon"></v-img>
        </v-flex>
      </v-layout>
    </v-responsive>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    logopmmc: require("@/assets/logo_pmmc.png"),
    logosigon: require("@/assets/logo_sigon.png")
  })
};
</script>

<style>
.a1 {
  background-color: red;
}
.a2 {
  background-color: blue;
}
</style>
