<template>
  <v-app>
    <v-content class="mb-4 pb-4">
      <toolbar-content/>
      <router-view></router-view>
      <footer-content app/>
    </v-content>
  </v-app>
</template>

<script>
import ToolbarContent from "./components/ToolbarContent";
import FooterContent from "@/components/FootbarLogado";
export default {
  name: "App",
  components: {
    ToolbarContent,
    FooterContent
  },
  data() {
    return {
      //
    };
  }
};
</script>
<style>
.rounded-card {
  border-radius: 50px;
}
.bold {
  font-weight: bold;
}
.my-input.v-input .v-input__slot {
  border-radius: 100px;
}
.centered-input input {
  text-align: center;
}
.f0 {
  border: 2px solid #ed1c24;
}
.f1 {
  border: 2px solid #f58220;
}
.f2 {
  border: 2px solid #ffcb05;
}
.f3 {
  border: 2px solid #00793f;
}
.f4 {
  border: 2px solid #0c26c4;
}

.b0 {
  background-color: #ed1c24;
}
.b1 {
  background-color: #f58220;
}
.b2 {
  background-color: #ffcb05;
}
.b3 {
  background-color: #00793f;
}
.b4 {
  background-color: #0c26c4;
}
.circle {
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* width and height can be anything, as long as they're equal */
}

.square {
  padding: 5px;
  width: 40px;
  height: 40px;
  /* width and height can be anything, as long as they're equal */
}

.colorContainer {
  display: inline-flex;
}
.selectedColor {
  border: 2px solid gray;
}
.grayTransparentBackground {
  background: rgba(233, 233, 233, 0.514);
}
.handicon {
  cursor: pointer;
}
#circle:after {
  content: "";
  position: absolute;
  border-top: 1px solid red;
  width: 40px;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}
</style>
